<div class="rooms-container">
    <h2>Adroit Hotel</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi quasi necessitatibus praesentium perferendis reiciendis voluptatibus omnis nobis quod voluptate. Aut.</p>

    <div class="room-list">       
        <div class="amenities">
            <h4> Welcome to our Hotel </h4>
            <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quibusdam quisquam provident deleniti, incidunt ipsam cumque pariatur quae sunt delectus consectetur obcaecati in minus cupiditate totam velit expedita aut nobis ipsa?
            </p>
            <p>
                Deserunt aliquam illo beatae error obcaecati, blanditiis reiciendis quo saepe explicabo esse, distinctio debitis omnis, enim accusantium architecto dolorem. Illo doloremque ex saepe, perspiciatis iste facere distinctio vitae velit repudiandae, tempora voluptas! Reprehenderit, doloremque corrupti.
            </p>

        </div>
        <div class="margin-left">
            <img src="../../assets/imgs/img_bg_3.jpg" class="w-100" alt="" srcset="">
        </div>
    </div>
</div>
