.rooms-container h2 {
    text-align:center;
    margin-bottom: 1rem;
}
.rooms-container p {
    text-align:center;
    width:70%;
    margin:0.5rem auto;
}
.amenities {
    padding: 10% 7%;
    background-color: white;
}
.amenities h4 {
    font-size: 2rem;
    text-align:left;
}
.amenities p {
    margin:5% 0;
    text-align:left;
    width:100%;
}
.rooms-container {
    background-color: rgba(251, 249, 249, 0.958);
    padding:5% 7%;
}

.room-list {
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    margin-top:5rem;
    /* gap:3%; */
    /* margin-left: 2rem; */
    text-align:center;
}
.room-list img {
    width:100%;
}
.price {
    font-size: 3rem;
    font-weight:600;
    color:rgb(120, 120, 209)
}
.room-list h5 {
    margin:1rem;
    font-size:1.3rem;
}






@media screen and (max-width:500px) {
    .room-list {
        display: block;
        text-align: center;
    }
    .amenities h4 {
        text-align: center;
    }
}