<div class="news-letter">
    <div class="pos">
        <div class="">
            <h2 class="fira"> Sign up for Newsletter</h2>
        <h4 class="nunito">Get A 50% discounts in every Rooms</h4>
        <div class="d-flex gap-2 mt-5">
            <input type="email" class="form-control" placeholder="Enter your mail">
            <input type="submit" value="subscribe" class="btn btn-secondary">
        </div>
        </div>
    </div>
</div>
<section class="footer nunito">
    <div class="footer-containers">
        <div class="w-100">
            <h3>AdroitHotel</h3>
            <p class="nunito">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus voluptates aut possimus aperiam ea adipisci, itaque minima distinctio hic iusto dignissimos, delectus libero nostrum temporibus perspiciatis est officia? Enim, soluta.</p>
        </div>
        <div class="quick-link-mag">
            <div>
                <h3>Quick Links</h3>
                <div >
                    <ul class="m-0 p-0">
                        <li class="pointer">Accomodation</li>
                        <li class="pointer">Dining & Bar</li>
                        <li class="pointer">Resturants</li>
                        <li class="pointer">Beach and Resorts</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="nunito">
            <h3>Contact Information</h3>
            <address>123 Ikereku Extention, <br> Laderin, Ogun State, <br> Nigeria</address>
            <p><a href="tel+2348164950695">+2348164950695</a></p>
            <p><a href="#">info@AdroitHotel.com.ng</a></p>
        </div>
    </div>
</section>