<div class="d-flex justify-content-between gap-5 w-100">
    <div class="d-flex w-60 gap-2">
        <div class="w-30 form-group position-relative">
            <span class="filter form-control-feedback"> <img src="assets/images/filter-icon.svg" alt=""></span>
            <select class="form-select form-control filter-pad width-50% background font" aria-label="Default select example">
                <option selected>Filter by</option>
                <option value="Date">Date</option>
                <option value="Department">Department</option>
                <option value="Job Title">Job Title</option>
              </select>
        </div>
      <div class="form-group has-search w-70 position-relative">
        <span class="form-control-feedback"> <img src="assets/images/search-icon.svg" alt="" class="size"></span>
        <input type="text" class="form-control background" name="searchValue" placeholder="Search..." >
      </div>  
    </div>

  <div class="d-flex w-35 justify-content-between" >
    <div class="d-flex align-items-center gap-2">
        <img src="assets/images/ic_cloud_upload.svg" alt="">
        <p class="m-0">Export .CSV</p>
    </div> 
    <div class="w-50">
      <select class="form-select form-control bg-bg py-1 px-3 font border-10" aria-label="Default select example">
          <option selected>Show 06 entries</option>
          <option value="1">One</option>
          <option value="2">Two</option>
          <option value="3">Three</option>
        </select>
    </div>
  </div>
</div>
