.btn-secondary {
    padding:1.5rem 2.2rem;
    outline:none;
    border:none;
    color:white;
    font-size:0.8rem;
    margin-top:3rem;
    margin-right:1rem;
    text-align:center;
    transition: all 0.3s;
    cursor: pointer;
    text-transform: uppercase;
}
.btn-secondary:hover {
    background-color: black;
}
.blue-bg {
    background-color: rgb(117, 117, 223);
}
.orange-bg {
    background-color: orange;
}