<div class="header-nav">
    <h4>Adroit Hotel</h4>
    <nav class="nav-bar" [class.d-block]="toggleHamburger">
        <ul>
            <li routerLink="" routerLinkActive #homeLink="routerLinkActive"  [routerLinkActiveOptions]="{exact : true}" [class.active]="homeLink.isActive" class="pointer" (click)="toggleHamburger = !toggleHamburger">Home </li>
            <li routerLink="/room" routerLinkActive="active" #roomLink ="routerLinkActive" class="pointer" (click)="toggleHamburger = !toggleHamburger"> Rooms </li>
            <li routerLink="/dining" routerLinkActive="active" #diningLink ="routerLinkActive" class="pointer" (click)="toggleHamburger = !toggleHamburger">Dining & Bar</li>
            <li routerLink="/service" routerLinkActive="active" #serviceLink ="routerLinkActive" class="pointer" (click)="toggleHamburger = !toggleHamburger">Services</li>
            <li routerLink="/about" routerLinkActive="active" #aboutLink ="routerLinkActive"  class="pointer" (click)="toggleHamburger = !toggleHamburger">About</li>
        </ul>
    </nav>
    <div class="toggle-icon" (click)="toggleHamburger = !toggleHamburger">
        <div class="hamburger" [class.open]="toggleHamburger">
            <div class="hamburger-top"></div>
            <div class="hamburger-middle"></div>
            <div class="hamburger-bottom"></div>
        </div>
    </div>
</div>
<section class="section-header {{carouselImages[counter]}}">
    <div class="header">
        <p class="nunito"> {{roomLink.isActive?  'Our Rooms' : aboutLink.isActive? "" :  serviceLink.isActive? "" : diningLink.isActive? "": homeLink.isActive? " Discover and Enjoy"  : ""}} </p>
        <h4 class="fira"> {{roomLink.isActive?  'The place where you feel the most comfortable' : aboutLink.isActive? "About Us" :  serviceLink.isActive? "Our Services" : diningLink.isActive? "Our Dining": homeLink.isActive? "Everything you need in Adroit Hotel"  : "Everything you need in Adroit Hotel"}} </h4>
    </div>
</section>

<!-- dscover and enjoy -->
<!--  -->
<!--  -->